.about{

    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;

}

.about::before{

    content: "01";
    font-family: 'Playfair Display', serif;
    font-size: 16rem;
    font-weight: 500;
    letter-spacing: 0rem;
    /* transform: scaleX(1.3); */
    padding-left: 1.5rem;
    overflow: hidden;
    position: absolute;
    line-height: 15rem;
    height: 80vh;
    display: flex;
    align-items: flex-end;
    /* bottom: 0%; */
    /* top: 100%; */
    z-index: -1;
    color: rgba(0,0,0,.2);

}

.aboutContainer{

    max-width: 80rem;
    margin: auto;
    display: flex;

}

.aboutText{

    flex: 2;
    padding: 1rem;

}

.aboutText h2{

    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 600;
    color: #00055A;

}

.aboutText p{

    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.15rem;
    font-weight: 500;
    color: #808080;
    
}

.Services{
    
    flex: 1;
    color: #808080;
    list-style: none;
    font-family: 'Iceberg', cursive;
    font-size: 1.55rem;
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-direction: column;

}

@media only screen and (max-width: 600px){

    .aboutContainer{

        flex-direction: column;
        padding: 1rem;
    
    }

}