.form{

    min-width: 310px;
    max-width: 500px;
    width: 80%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: inset 0px -8px 6px rgba(89, 89, 89, 0.8), 12px 1.2rem 75px rgba(89, 89, 89, 0.7);
    background-color: #fff;
    padding: 3%;
    border-radius: 2rem;

}

.captcha{

    display: inherit;

}

.auth{

    /* color: #fff; */
    background-color: #0B0D31;
    width: 100vw;
    height: 100vh;

}