.Slide1{
    background-image: url('/assets/slider/1.jpg');
    background-size: cover;
    background-attachment: fixed;
    /* background-position: fixed; */
    /* background-color: bisque; */
    height: 100vh;
    width: 100vw;
    /* display: none; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    
}

.sliderContainer{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5rem;

}

.heroSlide {
    height: 100vh !important;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: #000;
  }
.slideImage {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideImage img{

    opacity: .5;
    /* position: absolute; */
    width: 100vw;
    height: 100vh;
    object-fit: cover;

}

.slideContainer{

    position: absolute;
    z-index: 2;
    top: 65%;
    left: 30%;
    transform: translate(-50%,-50%);
    color: #fff;
    /* background-color: #000; */
    padding: 5px;
    height: 50vh;
    min-height: fit-content;
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
}

.slideContainer h1{

    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: 1rem;

}

.slideContainer span{
    
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -1px;
    margin: 2rem 0 3rem 0;
    display: block;
    
}


.Discover{

    
    font-family: 'Iceberg', cursive;;
    font-size: 1.75rem;
    
    background-color: rgba(0, 5, 90, .7);
    padding: 1rem 3rem;
    margin: 1rem;
    margin-left: 0;

}

.fraction{

    font-family: 'Titillium Web', sans-serif;

}