.heroConatiner{

    overflow: hidden;
    width: 100vw;
    height: 100vh;

}

.Header{

    position: absolute;
    top: 0%;
    z-index: 999;
    width: 100%;

}

.topbar{

    z-index: 9;
    color: #fff;
    /* font-family: 'PT Sans Narrow', sans-serif; */
    font-weight: 400;
    letter-spacing: 1px;
    font-size: .9rem;
    display: flex;
    justify-content: flex-end;
    gap: .8rem;
    width: 100%;
    padding: 1rem;


}

.Navbar *{

    color: #fff !important;
   

}

.Navbar{
    box-shadow: 0 0 2px rgba(255,255,255,.8);
}

.Brand{

    font-weight: 700;
    font-size: 2rem;

}

.navItem{

    font-size: 1.1rem;
    font-weight: 500;

}

.Slide1{
    background-image: url('/assets/slider/1.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}

.sliderContainer{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5rem;

}

.heroSlide {
    height: 100vh !important;
    width: 100vw;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: none;
    background-color: #000;
  }
.slideImage {
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideImage img{

    opacity: .5;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    padding: 0;

}

.slideContainer{

    position: absolute;
    z-index: 2;
    top: 65%;
    left: 30%;
    transform: translate(-50%,-50%);
    color: #fff !important;
    padding: 5px;
    height: 50vh;
    min-height: fit-content;
}

.slideContainer h1{

    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    letter-spacing: -2px;
    line-height: 1rem;

}

.slideContainer span{
    
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -1px;
    margin: 2rem 0 3rem 0;
    display: block;
    
}


.Discover{

    
    font-family: 'Iceberg', cursive;
    font-size: 1.75rem;
    background-color: rgba(0, 5, 90, .7);
    padding: 1rem 3rem;
    margin: 1rem;
    margin-left: 0;
    color: #fff;

}

.fraction{

    font-family: 'Titillium Web', sans-serif;

}

.Social{

    z-index: 9;
    position: absolute;
    top: 95%;
    left: 15%;
    transform: translate(-50%, -50%);

}

.Social ul{

    list-style: none;
    color: #EFA37F;
    display: flex;
    align-items: center;
    gap: 2rem;

}

.Social ul li{

    border-radius: 100%;
    border: #EFA37F 2px solid;
    width: 3.2rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

@media only screen and (max-width: 800px){

    .slideContainer{

        position: absolute;
        z-index: 2;
        top: 65%;
        left: 40%;
        min-height: 30rem;
    }

    .slideContainer h1{

        font-family: 'Playfair Display', serif;
        font-size: 4rem;
        letter-spacing: -2px;
        line-height: 3.5rem;
    
    }

    .Social{
        display: none;
    }

}

.Projects{

    width: 100%;
    height: auto;
    /* height: 80vh; */
    background: linear-gradient(#0B0D31 60%, #00055A);
    
}

.projectsContainer{

    margin: auto;
    max-width: 80rem;
    padding: 1rem;
    color: #fff;

}

.projectsContainer h2{

    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;

}

.Projects::before{

    content: "02";
    font-family: 'Playfair Display', serif;
    font-size: 16rem;
    font-weight: 500;
    letter-spacing: 0rem;
    transform: scaleX(1.3);
    padding-right: 1.5rem;
    text-align: right;
    overflow: hidden;
    position: absolute;
    line-height: 15rem;
    height: 80vh;
    display: flex;
    right: 0%;
    align-items: flex-end;
    /* bottom: 0%; */
    /* top: 100%; */
    z-index: 9;
    color: rgba(255,255,255,.2);

}

@media only screen and (max-width: 600px){

    .slideContainer h1{

        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        letter-spacing: -2px;
        line-height: 3rem;
    
    }
    
    .slideContainer span{
        
        font-size: 1.3rem;
        line-height: 1.3rem;
        
    }

    .Discover{
    
        font-size: 1rem;
        padding: .8rem 2rem;
        /* margin: .5rem; */
        margin-left: 0;
        display: block;
    
    }

    .topbar{

        flex-direction: column;
        text-align: right;

    }
    
}