.terms{

    background-color: #0B0D31;
    
}

.terms *{

    z-index: 10;

}


.terms{
    
    background-image: url("/assets/Rings.svg");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 30%;
    
}

.terms::after{
    
    background-image: url("/assets/Ellipse.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 12%;
    content: "";
    top: 140%;
    position: absolute;
    height: 50vh;
    width: 100%;
    z-index: 1 !important;

}


.termsContainer{
    
    max-width: 70rem;
    padding: 2rem;
    margin: auto;
    padding-top: 12%;

}

@media only screen and (max-width: 1000px){

    .termsContainer{
    
        padding-top: 25%;
    
    }

    .terms::after{
    
        background-image: url("/assets/Ellipse.svg");
        background-repeat: no-repeat;
        background-position: 150% 100%;
        background-size: 80% 80%;
        content: "";
        right: 0%;
        top: 120%;
        position: absolute;
        height: 80vh;
        width: 50%;
        z-index: 1 !important;
    
    }

}


.termsContainer h1{

    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 600;
    color: #F19F39;

}

.termsContainer h1::after{

    content: "";
    text-align: center;
    margin: 1.5rem;
    display: block;
    height: 1rem;
    width: 25%;
    margin: auto;
    border-bottom: 2px solid #F19F39;


}

.termsContainer li{

    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 1px;
    list-style: none;
    padding: 1.5rem 1rem;
    position: relative;

}