html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100vwzz;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.swiper-pagination{
  /* font-family: 'Titillium Web', sans-serif !important; */
  font-weight: 700;
  font-size: 2.5rem;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  gap: .5rem;
  align-items: flex-end;
  padding: 1rem;
  /* width: 25% !important; */
  /* transform: translate(100%,0) !important; */
}
.swiper-pagination-current{

  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #EFA37F;
  font-size: 4rem;
  line-height: 4rem;

}

.swiper-button-prev, .swiper-button-next{
  color: #EFA37F !important;
  border-radius: 100%;
  /* padding: 4rem !important; */
  width: 4rem !important;
  height: 4rem !important;
  border: 2px solid #EFA37F;
}

.swiper-button-prev::after, .swiper-button-next::after{

  font-size: 1.5rem !important;
  font-weight: 700;

}


.navbar-collapse{

  /* background-color: rgba(0,0,0,.75); */
  padding: 1rem;

}

.navbar-toggler{

  /* filter: brightness(2); */
  border: none !important;

}

.navbar-toggler-icon{

  background-image: url("/assets/ham.svg") !important;

}

.navbar-toggler:focus {
  outline: 0;
}

@media only screen and (max-width: 992px){

  .navbar-collapse{

    background-color: rgba(0,0,0,.75);
    padding: 1rem;
  
  }

  .swiper-button-prev, .swiper-button-next{

    top: 95% !important;
    left:15% !important;
    transform: translate(-50%,-50%);

  }

  .swiper-button-next{

    left:25% !important;

  }

  .swiper-pagination{
    font-weight: 700;
    font-size: 1.5rem;
    gap: .2rem;
  }
  .swiper-pagination-current{
  
    font-size: 3rem;
    line-height: 3rem;
    -webkit-text-stroke-width: 2px;
  
  }

}

@media only screen and (max-width: 600px){

  .swiper-button-prev, .swiper-button-next{
    width: 3rem !important;
    height: 3rem !important;
    border: 2px solid #EFA37F;
  }

  .swiper-button-prev::after, .swiper-button-next::after{

    font-size: 1rem !important;
    font-weight: 700;
  
  }

  .swiper-button-next{

    left:35% !important;

  }

  

}